$main-bottom-background-color: rgba(101, 109, 207, 0.95);
$main-top-background-color: rgba(103, 192, 224, 0.95);
$dark-grey: #4E4E4E;
$medium-gray: #6B6C6E;
$light-grey: #C7CCD2;
$label-color: #777B7E;
$link-color: #06A9F6;
$show-background-color: #F4F1BC;
$show-font-color: #676220;
$fb-button-background-color: #3163A2;
$tw-button-background-color: #00AAF5;
$sign-in-button-background-color: #3498DB;
$sign-in-button-border-color: #2980B9;
$checkbox-checked-backround-color: #05A8F5;