:root {
	--earth-orbit: 800px;
	--earth-speed: 365s;
	--earth-size: 50px;
	--moon-orbit: 60px;
	--moon-speed: 27s;
	--moon-size: 20px;
	--mercury-orbit: 450px;
	--mercury-speed: 88s;
	--mercury-size: 30px;
	--venus-orbit: 580px;
	--venus-speed: 225s;
	--venus-size: 40px;
}
