@import 'reset';
@import 'helpers';
@import 'variables';
@mixin spinPlanet ($offset, $name) {
	@keyframes #{$name} {
		from {
			transform: rotate(0deg) translate3d($offset, 0, 0) rotate(0deg);
		}
		to {
			transform: rotate(360deg) translate3d($offset, 0, 0) rotate(-360deg);
		}
	}
}

@mixin rotate($speed, $name) {
	animation: $name $speed linear 0s infinite;
}

body {
	font-family: 'Lato', sans-serif;
}

.model {
	position: relative;
	width: 100vw;
	height: 100vh;
}


/* Sun */

.sun {
	width: 30px;
	height: 30px;
	background-color: #fff;
	padding: 75px;
	box-shadow: 0 0 30px 15px #fbe602, 0 0 50px 30px #e70f14, 0 0 70px 45px #fabc14;
}

.sun:hover + .comet {
	animation: cometMove 4s;
	animation-timing-function: steps(500, start);
}


/* comet */

.comet {
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 40px solid #CCF5FE;
	opacity: 0;
}

.comet:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 40px solid #CCF5FE;
	margin: 15px 0 0 -25px;
}


/* Mercury */

.mercury-orbit {
	top: calc(50% - (var(--mercury-orbit)/2));
	left: calc(50% - (var(--mercury-orbit)/2));
	border: solid 2px #f00;
	width: var(--mercury-orbit);
	height: var(--mercury-orbit);
	animation: rotatePlanet var(--mercury-speed) linear infinite;
}

.mercury-orbit:after {
	content: "";
	position: absolute;
	top: 50%;
	margin: calc((var(--mercury-size)/2)*(-1));
	background: red;
	width: var(--mercury-size);
	height: var(--mercury-size);
	border-radius: 50%;
}


/* Venus */

.venus-orbit {
	top: calc(50% - (var(--venus-orbit)/2));
	left: calc(50% - (var(--venus-orbit)/2));
	border: solid 2px orange;
	width: var(--venus-orbit);
	height: var(--venus-orbit);
	animation: rotatePlanet var(--venus-speed) linear infinite;
}

.venus-orbit:after {
	content: "";
	position: absolute;
	left: 50%;
	margin: calc((var(--venus-size)/2)*(-1));
	background: orange;
	width: var(--venus-size);
	height: var(--venus-size);
	border-radius: 50%;
}


/* Earth */

.earth-orbit {
	border: solid 2px blue;
	width: var(--earth-orbit);
	height: var(--earth-orbit);
}

@include spinPlanet (calc(var(--earth-orbit)/2), spin-earth);
.earth {
	position: relative;
	margin: calc((var(--earth-size)/2)*(-1));
	background: blue;
	width: var(--earth-size);
	height: var(--earth-size);
	@include rotate (var(--earth-speed), spin-earth);
}

@include spinPlanet (var(--moon-orbit), spin-moon);
.moon {
	background: gray;
	margin: calc((var(--moon-size)/2)*(-1));
	width: var(--moon-size);
	height: var(--moon-size);
	@include rotate (var(--moon-speed), spin-moon);
}


/* rotation animation */

@keyframes rotatePlanet {
	0% {
		transform: rotate(0deg);
		transition: transform 1s linear;
	}
	100% {
		transform: rotate(360deg);
		transition: transform 1s linear;
	}
}


/* comet animation */

@keyframes cometMove {
	0% {
		opacity: 0;
		transition: transform 2s linear 1s, opacity 1s;
		transform: translate3d(0, 0, 0);
	}
	48% {
		transform: translate3d(40vw, 56vh, 0);
	}
	49% {
		transform: translate3d(41vw, 57vh, 0);
	}
	50% {
		transform: translate3d(42vw, 58vh, 0);
		opacity: 1;
	}
	51% {
		transform: translate3d(43vw, 59vh, 0);
	}
	52% {
		transform: translate3d(44vw, 60vh, 0);
	}
	100% {
		transition: transform 2s linear 0, opacity 1s;
		transform: translate3d(95vw, 70vh, 0);
		opacity: 0;
	}
}


/* background */

@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-webkit-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-moz-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-ms-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

.stars,
.twinkling {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.stars {
	background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}

.twinkling {
	background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
	-moz-animation: move-twink-back 200s linear infinite;
	-ms-animation: move-twink-back 200s linear infinite;
	-o-animation: move-twink-back 200s linear infinite;
	-webkit-animation: move-twink-back 200s linear infinite;
	animation: move-twink-back 200s linear infinite;
}
